div.vspacer {
	height: 15px;
}
div.hspacer {
	width:15px;
}
textarea.answerarea {
	width: 100%;
}
div.buttonrow {
	text-align:right;
}
input.button {
	height:30px;
	width:100px;
	margin:0px;
}
#honestAnswerPopupContent {
	height:95px;
}
#honestAnswerPopup {
	height:135px;
	width:500px;
}